<div class="container">
<carousel>
  <slide>
    <img class="img-main-carousel" src="assets/images/1.jpeg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/2.jpeg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
      
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/3.jpeg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      
    </div>
  </slide>
</carousel>
</div>
<div class="container">
    <app-popular></app-popular>
</div>

